{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__CLIENT__": false,
    "__SERVER__": false,
    "__DEV__": false,
    "__DEVTOOLS__": false
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"]
}
