// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 18px;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.article {
  margin: 4em auto 0;
  padding: 0 1em;
  max-width: 650px;
  width: 100%;

  p, ul {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
}
